#box { 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    /* if have the fixed, it takes up the entire background, not just the box, and moving the box allows you to see more of the picture */
    background: url(tumblr_o4gqvehIAG1udh5n8o1_400.gif) no-repeat center center; 
    background-size: cover;
    left: 200px; 
    top: 200px; 
}